body {
    background-color: rgb(0, 0, 0);
      font-family: "VT323", monospace;
    text-align: center;
     font-size: 50px;
    font-weight: 800;
    font-variant: small-caps;
    color: rgb(255, 0, 0);
}
h1 {
    color: rgb(255, 0, 0);
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-style: double;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    text-decoration-line: none;
}
img.blood {
    width: 2000px;
    height: auto;
    border: 0cm;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}
img.warning {
    width: 500px;
    height: auto;
    border: 0cm;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}
img.escape {
    width: 100px;
    height: auto;
    border: 0cm;
    margin-top: 20px;
    display: block;
    margin: left;
}
