body {
    background-color: rgb(0, 0, 0);
      font-family: "VT323", monospace;
    text-align: center;
     font-size: 50px;
    font-weight: 800;
    font-variant: small-caps;
    color: rgb(255, 0, 0);
}
h1 {
    color: rgb(255, 0, 0);
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-style: double;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    text-decoration-line: none;
}

