body {
    background-color: cornflowerblue;
      font-family: "VT323", monospace;
    text-align: center;
     font-size: 50px;
    font-weight: 800;
    font-variant: small-caps;
    color: white;
}
h1 {
    color: white;
    text-decoration: wavy;
    text-decoration-color: white;
    text-decoration-style: double;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    text-decoration-line: underline ;
}
a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-decoration-line: underline;
}
img {
    width: 300px;
    height: auto;
    border: 3px solid rgb(173, 216, 230);
    border-radius: 10px;
    margin-top: 100px;
    display: block;
    margin: 0 auto;
}
img.strawberry {
    width: 2000px;
    height: auto;
    border: 0cm;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}