body {
    background-color: pink;
    font-family: "Bitcount Single", system-ui;
    text-align: center;
     font-size: 50px;
    font-weight: 800;
    font-variant: small-caps;
    color: black;
}
h1 {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-style: double;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    text-decoration-line: underline;
}