body {
    background-color: pink;
    font-family: "Caveat", cursive;
    text-align: center;
     font-size: 50px;
    font-weight: 800;
    color: black;
}
h1 {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-style: double;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    text-rendering: geometricPrecision;
}