body {
    background-color: pink;
    font-family: "Caveat", cursive;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    text-decoration:underline;
    text-decoration-color: black;
    text-decoration-style: dashed;
}