body {
    background-color: pink;
      font-family: "VT323", monospace;
    text-align: center;
     font-size: 50px;
    font-weight: 800;
    font-variant: small-caps;
    color: black;
}
h1 {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-style: double;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    text-decoration-line: underline;
}
a {
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-decoration-line: underline;
    align-items: center;
}
img {
    width: 300px;
    height: auto;
    border: 3px solid rgb(236, 148, 232);
    border-radius: 10px;
    margin-top: 100px;
    display: block;
    margin: 0 auto;
} 
.images {
    display: flex;
    gap: 100px;
    flex-direction: row;
}