body {
    background-color: pink;
    font-family: "Caveat", cursive;
    text-align: center;
}
h1 {
    font-size: 50px;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-style: dashed;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
}